.main-form-outer{
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* filter tabs row */
.pills-tab{
    border-bottom: 1px solid var(--input-dark-txt);
}
.pills-tab .nav-link{
    font-size: 17px;
    font-weight: 500;
    color: var(--input-dark-txt);
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent;
    color: var(--black);
    border-bottom: 2px solid var(--main-orange);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.filter{
    padding: 8px 16px;
    padding-left: 0;
}
.filter i{
    color: var(--main-orange);
}
.filter h3{
    font-size: 17px;
    color: var(--black);
}
.filter select{
    font-size: 14px;
    padding: .15rem 2.0rem .15rem .75rem;
    border-color:var(--input-dark-bg);
    color: var(--input-dark-txt);
}

/* main table section */
.table-sec thead{
    color: var(--input-dark-txt);
    font-size: 17px;
    font-weight: 500;
    border-color:  var(--input-dark-txt);
}
.table-sec th{
    padding: 20px 0px !important;
    font-size: 17px;
    font-weight: 500;
}
.table-sec td{
    padding: 20px 0px !important;
}
.table-sec .img-col .user-img{
    width: 50px;
    height: 50px;
}
.table-sec h3{
    font-size: 15px;
    font-weight: 500;
}
.active-btn{
    border: 1px solid var(--main-orange);
    color: var(--main-orange);
    width: 100px;
}
.closed-btn{
    border: 1px solid var(--green);
    color: var(--green);
    width: 100px;
}
.closed-btn:hover{
    color: var(--green);
}
.active-btn:hover{
    color: var(--main-orange);
}
.table-sec .dots i{
    color: var(--input-dark-txt);
    font-size: 22px;
}
.table-sec .dots{
    position: relative;
    cursor: pointer;
}
.table-sec .action-col{
    position: absolute;
    right: 42%;
    top: 25px;
}
.table-sec .action-col ul{
    list-style-type: none;
    padding: 0px 12px;
    background-color: var(--body-color);
    margin: 0;
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.table-sec .action-col hr{
    margin: 0;
}
.table-sec .action-col ul .btn{
    padding: 4px 10px;
    color: var(--input-dark-txt);
    font-size: 14px;
    box-shadow: none;
    outline: none;
}

/* view modal section */
.leads-modal .modal-content{
    padding: 30px;
}
.leads-modal label{
    font-size: 18px;
}
.leads-modal .form-control,
.leads-modal  .form-select{
    padding:0.675rem 0.75rem;
}
.save-btn{
    background-color: var(--main-orange);
    color: var(--white);
}
.save-btn:hover{
    color: var(--white);
}
.close-btn{
    border: 1px solid var(--main-orange);
    color: var(--main-orange);
}
.close-btn:hover{
    color: var(--main-orange);
}


/* update modal */
.update-modal .box {
    position: relative;
    background: #ffffff;
    width: 100%;
  }
  
 .update-modal .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
  }
  
 .update-modal .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  
 .update-modal .dropzone-wrapper {
    border: 1px solid #ced4da;
    color: var(--input-dark-txt);;
    position: relative;
    height: 160px;
  }
  
 .update-modal .dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 50%;
    top: 30px;
    font-size: 16px;
  }
  
 .update-modal .dropzone,
 .update-modal .dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
  }
  
  .update-modal .dropzone-wrapper:hover,
  .update-modal .dropzone-wrapper.dragover {
    background: #ecf0f5;
    transition-duration: 0.3s;
  }
  
  .update-modal .preview-zone {
    text-align: center;
  }
  
  .update-modal .preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
  }
  .update-modal .select-btn{
    background-color: var(--main-orange);
    color: #fff;
    font-size: 14px;
  }
  .update-modal .select-btn:hover{
    color: #fff;
  }



@media (max-width:500px){

    /* filter tabs row */
    .main-form-outer{
        padding: 20px;
    }
    .nav-pills{
        font-size: 14px;
    }
    .nav-pills .nav-link{
        padding: 3px;
        font-size: 14px;
    }
    .filter h3{
        font-size: 14px;
    }
}
@media (min-width:1600px){
    .table-sec .action-col{
        right: 75%;
    }
}